<%= link_to("https://pachinko-spec.info/tool/rotation.php", class: "fixed01") do %>
  <span class="fixed01">ボーダー計算機</span>
<% end %>
<div class="main">
  <div class="title">
    <h1>
      ボーダーライン一覧表
    </h1>
  </div>
  <table>
    <h2>CR 真・北斗無双</h2>
    <tr>
      <td><%= image_tag "/hokuto.jpg" %></td>
      <td><%= image_tag "/hokutoborder.jpg"%></td>
    </tr>
  <table>
</div>
<%#= image_tag "/keijiblack.jpg"%>
