<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>期待値・仕事量計算ツール | パチンコスペック解析</title>
  <!-- BootstrapのCSS読み込み -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-7227682968829613",
          enable_page_level_ads: true
     });
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132532242-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-132532242-3');
</script>
  <link rel="canonical" href="https://pachinko-spec.info/tool/kitaichi.php">
</head>

<body style="padding-top:4.5rem; padding-bottom:4.5rem;">

  <div class="container">
    <div class="row justify-content-center m-3">
      <h5>期待値・仕事量計算ツール</h5>
    </div>
    <div class="row justify-content-center m-1">
      <form id="kitaichi" name="kitaichi" action="" method="post">
        <div class="table-responsive table table-condensed">
          <table class="table text-nowrap table-sm">
            <tr>
              <td>想定総回転数</td>
              <td><input type="number" name="soutei_total_rotation" style="width:70px" min="1" max="1000000" >回転
              </td>
            </tr>
            <tr>
              <td>実総回転数</td>
              <td><input type="number" name="jitsu_total_rotation" style="width:70px" min="1" max="1000000" value="10">回転
              </td>
            </tr>
            <tr>
              <td>計算基準の1k玉数<br>(例:250玉)</td>
              <td><input type="number" name="kijun_tama" style="width:70px" min="1" max="10000" required value="250">玉
              </td>
            </tr>
            <tr>
              <td>1kの貸玉<br>(例:250玉)</td>
              <td><input type="number" name="kashidama" style="width:70px" min="1" max="10000" required value="250">玉
              </td>
            </tr>
            <tr>
              <td>交換率<br>(例:25玉)</td>
              <td>100円=<br><input type="number" name="koukan" style="width:60px" min="1" max="1000" step="0.1" required value="25">玉
              </td>
            </tr>
            <tr>
              <td>回転率</td>
              <td><input type="number" name="rotation" step="0.01" min="0" max="1000" style="width:70px" required value="10">回転/k
              </td>
            </tr>
            <tr>
              <td>平均出玉</td>
              <td><input type="number" name="dedama" step="0.01" min="0" max="10000" style="width:70px" required >玉
              </td>
            </tr>
            <tr>
              <td>トータル確率</td>
              <td>1/<input type="number" name="total_kakuritsu" step="0.01" min="0" max="1000" style="width:70px" required >
              </td>
            </tr>
            <tr>
              <td>持ち玉比率</td>
              <td><input type="number" name="mochihi" step="0.01" min="0" max="100" style="width:70px" required value="0">%
              </td>
            </tr>
          </table>
        </div>
        <div class="row justify-content-center">
          <button type="submit" name="clac" class="btn btn-primary">計算</button>
        </div>
      </form>
    </div>
        <div class="row justify-content-center m-1">
      <div class="card">
        <div class="card-header">計算結果</div>
        <div class="card-body"></div>
      </div>
    </div>
  </div>
  <!-- jQuery読み込み -->
<script src="js/jquery-3.4.0.min.js"></script>
<!-- BootstrapのJS読み込み -->
<script src="js/bootstrap.min.js"></script>
<!-- PopperのJS読み込み -->
<script src="js/popper.js"></script>
</body>

</html>