<div class="m">
  <form>
    <div class="table">
      <table class="table">
        <tbody>
          <tr>
            <td>総回転数</td>
            <td><input type="number" name="total_rotation" style="width:70px" min="1" max="1000000" required>"回転"</td>
          </tr>
          <tr>
            <td>"計算基準の1k玉数"<br>"(例:250玉)"</td>
            <td><input type="number" name="kijun_tama" style="width: 70px" min="1" max="10000" required value="250">"玉"</td>
          </tr>
          <tr>
            <td>"1kの貸玉"<br>"(例:250玉)"</td>
            <td><input type="number" name="kashidama" style="width:70px" min="1" max="10000" required value="250">"玉"</td>
          </tr>
          <tr>
            <td>"現金投資"<br>"(単位:k)"</td>
            <td><input type="number" name="genkin" step="0.1" min="0" max="100000" style="width:70px">"k"</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <button type="submit" name="calc" class="btn">計算</button>
    </div>
  </form>
</div>
<div class="m">
  <div class="card">
    <div class="card-header">
  </div>
</div>
  